{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if profiles.pk is user.pk %}
  <h1>You Have {{ follows }} Follows</h1>
{% else %}
	<h1>{{profiles.user.username}} Has {{ follows }} Follows</h1>
{% endif %}

<br/>

{% if profiles %}

	{% for profile in profiles.follows.all %}
  {% if profile.pk is not profiles.pk %}

	<div class="alert alert-dark" role="alert">
    <div class="container text-center">
      <div class="row g-6">

        <div class="col-2">    
          <a href="{% url 'profile' profile.user.pk %}">
          {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" width=100 height=100 class="rounded-circle" alt="{{ profile.user.username }}">
          {% else %}
            <img src="{% static 'images/default_profile_pic.png' %}" width=100 height=100 class="rounded-circle" alt="{{ profile.user.username }}">	
          {% endif %}
          </a>
          <h3 class="card-title">{{ profile.user.username }}</h3>
          <small class="text-muted">Last Updated: {{ profile.date_modified }}</small>
        </div>

        <div class="col-3">
          {% if profile.profile_bio %}
            {{ profile.profile_bio }}
          {% endif %}

          <br/><br/>

          {% if profiles.pk == user.pk %}
            <a href="{% url 'unfollow' profile.user.id %}">
              <button class="btn btn-outline-danger">Unfollow {{profile.user.username}}</button>
            </a>
          {% endif %}
        
        </div>
      
      </div>
    </div>
  </div>
<br/>

{% endif %}


	{% endfor %}

{% endif %}


{% endblock %}